In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pop = pd.read_csv('pop.csv')
reb = pd.read_csv('rebanhos.csv')

In [3]:
pop.head()

    ano sigla_uf  id_municipio  populacao
0  2017       RO       1100015      25437
1  2017       RO       1100023     107345
2  2017       RO       1100031       6224
3  2017       RO       1100049      88507
4  2017       RO       1100056      17934

In [4]:
reb.head()

  sigla_uf  id_municipio  quantidade_bovinos_total
0       RO       1100015                    319811
1       RO       1100023                    317996
2       RO       1100031                    113277
3       RO       1100049                    312990
4       RO       1100056                    109292